doctype html
html(lang='en')
  head
    title Welcome
    link(href='/stylesheets/style.css', rel='stylesheet')
    link(href='/stylesheets/bootstrap.css', rel='stylesheet')
    link(href='https://bulma.io/css/bulma-docs.min.css?v=201906210803', rel='stylesheet')
  body
    include ../public/bar.html
    != messages()
    block content
     
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='/javascripts/bootstrap.js')