ul.success li{
	padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    list-style: none;
}

ul.error li{
	padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
 	color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    list-style: none;
}

.navbar-brand {
    width: 100%;
}

.navbar, .has-shadow, .is-spaced {
    padding: 0 !important;
    margin-bottom: auto !important;
}

div.login-body {
    margin: 0;
    padding: 0;
    background: url(../images/pic1.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    height: 102vh;
}

.loginbox {
    width: 500px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 51.5%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    opacity: 0.8;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1.login-title {
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    margin-top: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover
{
    color: #ffc107;
}

.homeBanner {
  position: relative;
  text-align: center;
  color: white;
  background: black;
}

.homeBannerImage {
    width: 100%;
    opacity: 0.7;
}

.homeBannerHeading {
    position: absolute;
    font-size: 60px;
    top: 32%;
    width: 100%;
    margin: 0 auto;
    bottom: 60%;
    transform: translate(0, -40%);
    color: #fff;
    z-index: 1;
}

.homeBannerText {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    font-size: 24px;
    transform: translate(-50%, -50%);
    color: #fff;
}

.myItinHeading {
    position: relative;
    font-size: 60px !important;
    top: 5%;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-flow: column;
}

.myItinText {
    position: relative;
    width: 100%;
    top: 10%;
}

.myItinWrapper {
    width: 100%;
    height: 100vh;
}

.column {
    height: 300px;
    margin: .75rem;
    border-radius: 2%;
    background: #eee;
    color: #111;
}

#column-box {
    width: 80%;
    margin: 0 auto;
}

#trip-header-box {
    width: 80%;
    margin: 0 auto;
    margin-top: 12%;
}

#trip-header {
    height: 100px;
    font-size: 24px;
    padding: 33px;
}

.viewSchedule {
    margin-top: 185px;
    margin-right: 40px;
}

.community-banner {
    font-size: 30px;
    color: black;
    top: 25%;
}

.community-banner-heading {
    width: 100%;
    text-align: center;
    font-size: 50px;
    margin: 0 auto;
}

.community-banner-text {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

#post-container {
    width: 80%;
    height: 300px;
    margin: 0 auto;
    text-align: center;
}

.community-post {

}

.preview-title {
    font-size: 22px;
}

.profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 5%;
    z-index: 2;
}

.image-preview {
    opacity: 0.9;
    height: 200px;
    margin-top: 2%;
    margin-bottom: 2%;
    z-index: 1;
}

.rating {
    height: 20px;
    left: 10%;
}

/*.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}*/
