<div class="login-body">
	<div class="loginbox">
		<img class="avatar" src="../../assets/images/avatar.png">
		<h1 class="login-title">Login Here</h1>
		<form method="post" action="/users/login">
			<p>Username</p>
			<input class="form-control" name="username" type="text" placeholder="Enter Username"/>
			<p>Password</p>
			<input class="form-control" name="password" type="password" placeholder="Enter Password"/>
			<input type="submit" name="submit" value="Login"/>
			<a href="/users/register">Don't have an account?</a>
		</form>
	</div>
</div>
	
